@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .btn-sh{
        box-shadow: 0 0 8px rgba(208, 215, 218, 0.473);
    }
    #tabview>*{
        @apply absolute top-0 bg-inherit backdrop-blur-3xl
    }
    .active{
        @apply bg-blue-50
    }
    .active a>*{
        @apply text-blue-500
    }
    thead tr th{
        @apply text-start py-5 font-medium
    }
    tbody tr td{
        @apply py-4 text-[14px]
    }
}